.popup {
  width: 500px;
  height: 350px;
}

.pie {
  width: 500px;
  height: 500px;
}

.img {
  width: 30px;
  height: 30px;
}

.title {
  color: green;
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaflet-popup-content {
  margin: 40px auto;
}